@charset "utf-8";

/*

  CSS for MIDA Manual

  This CSS is based on Solarized CSS, for more info see
  <https://github.com/thomasf/solarized-css>.

*/

@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary
{
    display: block;
}

html
{
    font-family: 'PT Sans', sans-serif;
    background-color: #073642;
    color: #839496;
    margin: 1em;
}

body
{
    margin: 0;
    background-color: #002b36;
    margin: 0 auto;
    max-width: 23cm;
    border: 1pt solid #93a1a1;
    padding: 1em;
}

a
{
    color: #b58900;
}

a:visited
{
    color: #cb4b16;
}

a:hover
{
    color: #cb4b16;
}

a:focus
{
    outline: thin dotted;
}

a:active, a:hover
{
    outline: 0;
}

ul, ol, dl
{
    margin-top: 0;
    list-style-type: none;
}

h1
{
    margin-top: 0;
    font-size: 2em;
    color: #d33682;
}

h2, h3, h4, h5, h6
{
    color: #859900;
}

h1 { font-size: 2.8em; }
h2 { font-size: 2.4em; }
h3, h4, h5 { font-size: 1.8em; }
h6 { font-size: 1.15em; }

h6
{
    margin-top: 15px;
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
}

b, strong
{
    font-weight: bold;
}

dfn
{
    font-style: italic;
}

mark
{
    background: #ff0;
    color: #000;
}

code, kbd, pre, samp
{
    font-family: monospace, serif;
    font-size: 1em;
    background-color: #073642;
    padding: 2px;
}

pre, code
{
    font-family: 'Inconsolata', sans-serif;
}

pre
{
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #073642;
    color: #657b83;
    border: 1pt solid #93a1a1;
    padding: 1em;
    box-shadow: 5pt 5pt 8pt #073642;
}

q
{
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small
{
    font-size: 80%;
}

sub, sup
{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup
{
    top: -0.5em;
}

sub
{
    bottom: -0.25em;
}

img
{
    border: 0;
}

svg:not(:root)
{
    overflow: hidden;
}

figure
{
    margin: 0;
}

fieldset
{
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend
{
    border: 0;
    padding: 0;
}

textarea
{
    overflow: auto;
    vertical-align: top;
}

table
{
    background-color: #002b36;
    color: #657b83;
    box-shadow: 5pt 5pt 8pt #073642;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td
{
    border: 1pt solid #93a1a1;
    min-width: 50px;
    padding: 5px;
}

th
{
    font-weight: bold;
}
